name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  go-lint:
    name: Linter for Go
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Go lint
        uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v6.0.1
        with:
          version: latest

  docker-lint:
    name: Linter for Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker lint
        uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0

  build_and_push:
    name: Build and Push image
    uses: sabowski/ecobee-exporter/.github/workflows/build_and_push.yml@main
    with:
      registry: ghcr.io
      image_name: ${{ github.repository }}
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
